<div class="widget-content relative" appFullscreen #fs="appFullscreen">
  <i class="fa-solid fa-expand fullscreen-btn" (click)="fs.toggleFullscreen()"></i>

  <div class="d-flex flex-column">
    <span>Tên sản phẩm: {{data.productName}}</span>
    <span>Mã sản phẩm: {{data.productCode}}</span>
    <span>SAP-WO: {{data.sapWoId}}</span>
  </div>
  <div class="table-note">
    <table class="table table-dark">
      <thead>
        <tr>
          <th>PO-Planning</th>
          <th>Số lô</th>
          <th>Số lượng kế hoạch</th>
          <th>Đơn hàng</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ data.woId }}</td>
          <td>{{ data.lotNumber }}</td>
          <td>{{ data.quantityPlan }}</td>
          <td>{{ data.productOrderId }}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Sản lượng đầu vào</th>
          <th>Sản lượng hoàn thành</th>
          <th>Tỉ lệ lỗi vật tư</th>
          <th>Tỉ lệ lỗi</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ data.numberOfInputs }}</td>
          <td>{{ data.numberOfOutputs }}</td>
          <td>0</td>
          <td>
            {{
            (totalError > 0 && data.numberOfInputs > 0)
            ? ((totalError / data.numberOfInputs) * 100).toFixed(3)
            : 0
            }} %
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>