<div class="widget-content relative" appFullscreen #fs="appFullscreen">
  <i class="fa-solid fa-expand fullscreen-btn" (click)="fs.toggleFullscreen()"></i>
  <h5>Bảng thống kê công đoạn</h5>
  <div class="d-flex justify-content-end">
    <p-button icon="pi pi-file-excel" class="p-button-text" severity="success" label="Export Excel" (onClick)="exportExcel()"></p-button>
  </div>
  <p-table class="dark-table" [value]="data" [paginator]="true" [rowsPerPageOptions]="[5,10,20,50]" [rows]="50" currentPageReportTemplate="Hiển thị {first} đến {last} trong tổng số {totalRecords} mục" [showCurrentPageReport]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>StageNum</th>
        <th>Machine</th>
        <th>Serial board</th>
        <th>Serial PCS</th>
        <th>Thời gian scan</th>
        <th>Thời gian sửa serial</th>
        <th>Status</th>
      </tr>
      <tr>
        <th class="filter-column" style="padding: 0; max-width: 88px; overflow: hidden;">
          <p-columnFilter type="text" field="stageNum" placeholder="Search" [showMenu]="false"></p-columnFilter>
        </th>
        <th class="filter-column" style="padding: 0; max-width: 100px; overflow: hidden;">
          <p-columnFilter type="text" field="machineName" placeholder="Search" [showMenu]="false"></p-columnFilter>
        </th>
        <th class="filter-column" style="padding: 0; max-width: 100px; overflow: hidden;">
          <p-columnFilter type="text" field="serialBoard" placeholder="Search" [showMenu]="false"></p-columnFilter>
        </th>
        <th class="filter-column" style="padding: 0; max-width: 100px; overflow: hidden;">
          <p-columnFilter type="text" field="serialItem" placeholder="Search" [showMenu]="false"></p-columnFilter>
        </th>
        <th class="filter-column" style="padding: 0; max-width: 100px; overflow: hidden;">
          <p-columnFilter type="date" field="timeScan" placeholder="Search" [showMenu]="false"></p-columnFilter>
        </th>
        <th class="filter-column" style="padding: 0; max-width: 100px; overflow: hidden;">
          <p-columnFilter type="date" field="timeCheck" placeholder="Search" [showMenu]="false"></p-columnFilter>
        </th>
        <th class="filter-column" style="padding: 0; max-width: 88px; overflow: hidden;">
          <p-columnFilter type="text" field="serialStatus" placeholder="Search" [showMenu]="false"></p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr class="hover-item">
        <td>{{ row.stageNum }}</td>
        <td>{{ row.machineName }}</td>
        <td>{{ row.serialBoard }}</td>
        <td>{{ row.serialItem }}</td>
        <td>{{ row.timeScan | date:'dd/MM/yyyy HH:mm'}}</td>
        <td>{{ row.timeCheck | date:'dd/MM/yyyy HH:mm'}}</td>
        <td>{{ row.serialStatus }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>