<div class="widget-content relative" appFullscreen #fs="appFullscreen">
  <i class="fa-solid fa-expand fullscreen-btn" (click)="fs.toggleFullscreen()"></i>
  <h5>Bảng thống kê công đoạn</h5>
  <div class="table-note">
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Stage num</th>
          <th>Machine</th>
          <th>Serial board</th>
          <th>Serial PCS</th>
          <th>Time</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
