<div class="widget-content relative" appFullscreen #fs="appFullscreen">
  <i class="fa-solid fa-expand fullscreen-btn" (click)="fs.toggleFullscreen()"></i>
  <div class="box-information">
    <span>Bảng điều khiển</span>
    <p-button *appHasRole="['RD_GiamSat_TruySuatSerial_Admin']" icon="pi pi-cog" class="p-button-text" severity="secondary" label="Config" (onClick)="openConfigDialog()"></p-button>
    <span><span class="text-primary fw-bold">Họ và tên:</span> {{ account.fullName }}</span>
    <span><span class="text-primary fw-bold">Số điện thoại:</span> </span>
    <span><i class="fa-solid fa-users"></i> 48</span>
  </div>
</div>
