<div class="bg-sosen">
    <div class="base-table-header my-3 d-flex px-2">
        <h2>Thông tin sản xuất</h2>
        <p-button *appHasRole="['RD_GiamSat_TruySuatSerial_Admin']" label="Thêm" class="p-button-sm"
            severity="secondary" (onClick)="addWODialog()" />
    </div>
    <p-table [value]="data" [paginator]="true" [rows]="pageSize" [totalRecords]="totalRecords" [lazy]="true"
        [loading]="loading" (onLazyLoad)="onPage($event)" [rowsPerPageOptions]="[5,10,20,50]" class="dark-table"
        currentPageReportTemplate="Hiển thị {first} đến {last} trong tổng số {totalRecords} mục"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>Planning WO</th>
                <th>Mã WO</th>
                <th>Mã PO</th>
                <th>Ngành</th>
                <th>Mã ngành</th>
                <th>Tổ</th>
                <th>Mã tổ</th>
                <th>Trạng thái</th>
                <th>Số Lô</th>
                <th>Mã hàng hóa</th>
                <th>Tên hàng hóa</th>
                <th>Sản lượng kế hoạch</th>
                <th>Sản lượng đầu vào</th>
                <th>Sản lượng hoàn thành</th>
            </tr>
            <tr>
                <th>
                    <p-floatlabel variant="on">
                        <input pInputText type="text" placeholder="Planning WO" [(ngModel)]="filters.woId" class="w-100"
                            (keydown.enter)="onSearch()" />
                    </p-floatlabel>
                </th>
                <th>
                    <p-floatlabel variant="on">
                        <input pInputText type="text" placeholder="Mã WO" [(ngModel)]="filters.sapWoId" class="w-100"
                            (keydown.enter)="onSearch()" />
                    </p-floatlabel>
                </th>
                <th>
                    <p-floatlabel variant="on">
                        <input pInputText type="text" placeholder="productOrderId" [(ngModel)]="filters.productOrderId"
                            class="w-100" (keydown.enter)="onSearch()" />
                    </p-floatlabel>
                </th>
                <th>
                    <p-floatlabel variant="on">
                        <input pInputText type="text" placeholder="branchName" [(ngModel)]="filters.branchName"
                            class="w-100" (keydown.enter)="onSearch()" />
                    </p-floatlabel>
                </th>
                <th>
                    <p-floatlabel variant="on">
                        <input pInputText type="text" placeholder="branchCode" [(ngModel)]="filters.branchCode"
                            class="w-100" (keydown.enter)="onSearch()" />
                    </p-floatlabel>
                </th>
                <th>
                    <p-floatlabel variant="on">
                        <input pInputText type="text" placeholder="groupName" [(ngModel)]="filters.groupName"
                            class="w-100" (keydown.enter)="onSearch()" />
                    </p-floatlabel>
                </th>
                <th>
                    <p-floatlabel variant="on">
                        <input pInputText type="text" placeholder="groupCode" [(ngModel)]="filters.groupCode"
                            class="w-100" (keydown.enter)="onSearch()" />
                    </p-floatlabel>
                </th>
                <th>
                    <p-floatlabel variant="on">
                        <input pInputText type="text" placeholder="status" [(ngModel)]="filters.status" class="w-100"
                            (keydown.enter)="onSearch()" />
                    </p-floatlabel>
                </th>

                <th>
                    <p-floatlabel variant="on">
                        <input pInputText type="text" placeholder="lotNumber" [(ngModel)]="filters.lotNumber"
                            class="w-100" (keydown.enter)="onSearch()" />
                    </p-floatlabel>
                </th>
                <th>
                    <p-floatlabel variant="on">
                        <input pInputText type="text" placeholder="productCode" [(ngModel)]="filters.productCode"
                            class="w-100" (keydown.enter)="onSearch()" />
                    </p-floatlabel>
                </th>
                <th>
                    <p-floatlabel variant="on">
                        <input pInputText type="text" placeholder="productName" [(ngModel)]="filters.productName"
                            class="w-100" (keydown.enter)="onSearch()" />
                    </p-floatlabel>
                </th>
                <th>
                    <p-floatlabel variant="on">
                        <input pInputText type="text" placeholder="quantityPlan" [(ngModel)]="filters.quantityPlan"
                            class="w-100" (keydown.enter)="onSearch()" />
                    </p-floatlabel>
                </th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr class="hover-item" (click)="viewItem(row)">
                <td>{{ row.woId }}</td>
                <td>{{ row.sapWoId }}</td>
                <td>{{ row.productOrderId }}</td>
                <td>{{ row.branchName }}</td>
                <td>{{ row.branchCode }}</td>
                <td>{{ row.groupName }}</td>
                <td>{{ row.groupCode }}</td>
                <td>
                    <span [ngClass]="{
                        'status-stop': row.status === '0',
                        'status-running': row.status === '1',
                        'status-finish': row.status === '2',
                        'status-pause': row.status === '3'
                        }">{{
                        row.status === "0"
                        ? 'Stop'
                        : row.status === "1"
                        ? 'Running'
                        : row.status === "2"
                        ? 'Finish'
                        : row.status === "3"
                        ? 'Pause'
                        : ''
                        }}</span>

                </td>
                <td>{{ row.lotNumber }}</td>
                <td>{{ row.productCode }}</td>
                <td>{{ row.productName }}</td>
                <td>{{ row.quantityPlan }}</td>
                <td>{{ row.numberOfInputs }}</td>
                <td>{{ row.numberOfOutputs }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>