.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
}

/* base-table-header.component.scss */
.base-table-header {
    display: flex;
    flex-direction: column;
    /* mặc định mobile: dọc */
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;

    h2 {
        margin-bottom: 0.5rem;
        /* khoảng cách với button trên mobile */
    }

    @media (min-width: 768px) {
        flex-direction: row;
        /* desktop: ngang */
        align-items: center;

        h2 {
            margin-bottom: 0;
            /* bỏ margin trên desktop */
        }
    }
}

::ng-deep .dark-table .p-datatable {
    background-color: black !important;
    color: white !important;
}

::ng-deep .dark-table .p-datatable-thead>tr>th {
    background-color: black !important;
    color: white !important;
}
::ng-deep .dark-table .p-datatable-tbody>tr>td {
    background-color: black !important;
    color: white !important;
}

::ng-deep .dark-table .p-datatable-tbody > tr:hover > td {
  background-color: #69726f !important;
  cursor: pointer;
}

::ng-deep .dark-table .p-datatable-header {
    background-color: black !important;
}

.status-stop {
  color: red !important;
}

.status-running {
  color: green !important;
}

.status-finish {
  color: turquoise !important;
}

.status-pause {
  color: gold !important;
}
