<div class="base-table-header my-3">
  <h2>{{ title }}</h2>
  <p-button *ngIf="showAddButton" [label]="addButtonText" class="p-button-sm" (click)="addItem()" />
</div>
<p-table #dt [value]="data" [columns]="selectedColumns" [scrollable]="true" [paginator]="true" [rows]="10" [loading]="loading" [rowsPerPageOptions]="[5, 10, 20, 50]"
  [showCurrentPageReport]="true" currentPageReportTemplate="Tổng: {totalRecords} bản ghi">
  <ng-template #caption>
    <p-multiSelect [options]="columns" [(ngModel)]="selectedColumns" optionLabel="Header" display="chip"
      placeholder="Chọn cột hiển thị" styleClass="p-column-toggler">
    </p-multiSelect>
  </ng-template>
  <!-- Header -->
  <ng-template pTemplate="header">
    <tr>
      <th>STT</th>
      <th *ngFor="let col of selectedColumns" [hidden]="col.IsHide" [ngStyle]="col.style">{{ col.Header }}</th>
      <th alignFrozen="right" pFrozenColumn [frozen]="true" style="min-width: 150px;">Chức năng</th>
    </tr>

    <!-- Filter -->
    <tr>
      <th></th>
      <th *ngFor="let col of selectedColumns" [hidden]="col.IsHide">
        <ng-container *ngIf="getFilterTemplate(col.Field) as tpl; else defaultFilter">
          <!-- Custom filter từ cha -->
          <p-columnFilter [field]="col.Field" matchMode="equals" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <ng-container *ngTemplateOutlet="tpl; context: { value: value, filter: filter }"></ng-container>
            </ng-template>
          </p-columnFilter>
        </ng-container>
    
        <ng-template #defaultFilter>
          <ng-container *ngIf="col.IsSearch">
            <!-- Nếu text -->
            <p-columnFilter *ngIf="!col.TypeSearch || col.TypeSearch === 'text'" [field]="col.Field"
              placeholder="Tìm {{ col.Header }}" [showMenu]="false">
            </p-columnFilter>
    
            <!-- Nếu date -->
            <p-columnFilter *ngIf="col.TypeSearch === 'date'" [field]="col.Field" matchMode="dateIs" [showMenu]="false" type="date">
            </p-columnFilter>
    
            <!-- Nếu select -->
            <p-columnFilter *ngIf="col.TypeSearch === 'select'" [field]="col.Field" matchMode="equals" [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-select [ngModel]="value" (ngModelChange)="filter($event)" [options]="col.Options || []" optionLabel="label"
                  optionValue="value" [showClear]="true" [appendTo]="'body'">
                </p-select>
              </ng-template>
            </p-columnFilter>
          </ng-container>
        </ng-template>
      </th>
      <th alignFrozen="right" pFrozenColumn [frozen]="true"></th>
    </tr>
  </ng-template>

  <!-- Body -->
  <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
    <tr>
      <td>{{ rowIndex + 1 }}</td>
      <td *ngFor="let col of selectedColumns" [hidden]="col.IsHide" [ngStyle]="col.style">
        <ng-container *ngIf="getColumnTemplate(col.Field) as tpl; else defaultValue">
          <ng-container *ngTemplateOutlet="tpl; context: { $implicit: getValueByPath(row, col.Field) }"></ng-container>
        </ng-container>
        <ng-template #defaultValue>
          {{ getValueByPath(row, col.Field) }}
        </ng-template>
      </td>
      <td alignFrozen="right" pFrozenColumn [frozen]="true">
        <!-- button custom -->
        <ng-container *ngIf="actionTemplate">
          <ng-container *ngTemplateOutlet="actionTemplate; context: { $implicit: row }"></ng-container>
        </ng-container>
        <!-- base button -->
        <p-button *ngIf="showEditButton" icon="pi pi-pencil" styleClass="p-button-sm p-button-rounded p-button-warn m-1" (onClick)="editItem(row)"></p-button>
        <p-button *ngIf="showViewButton" icon="pi pi-eye" styleClass="p-button-sm p-button-rounded p-button-info m-1" (onClick)="viewItem(row)"></p-button>
        <p-button *ngIf="showDeleteButton" icon="pi pi-trash" styleClass="p-button-sm p-button-rounded p-button-danger m-1" (onClick)="deleteItem(row, $event)"></p-button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="columns.length + 2" class="text-center">
        <p>Không có dữ liệu</p>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-toast />
<p-confirmdialog />