<div class="dashboard-container">
  <!-- row 1 -->
  <div class="widget widget-config p-3">
    <div class="d-grid gap-2">
      <span>Bảng điều khiển</span>
      <p-button icon="pi pi-cog" class="p-button-text" severity="secondary" label="Config"></p-button>
      <span><span class="text-primary fw-bold">Họ và tên:</span> RD00054</span>
      <span><span class="text-primary fw-bold">Số điện thoại:</span> </span>
      <span><i class="fa-solid fa-users"></i> 48</span>
    </div>
  </div>
  <div class="widget widget-po">Thông tin Đơn hàng</div>
  <div class="widget widget-status">Trạng thái & Tốc độ</div>


  <!-- row 2 -->
  <div class="widget widget-chart-1">
    <p-chart type="pie" [data]="data" [options]="options" class="w-full md:w-[30rem]" />
  </div>
  <div class="widget widget-stations">Các chỉ số trạm</div>
  <div class="widget widget-ppm">500 PPM</div>

  <!-- row 3 -->
  <div class="widget widget-chart-2">
    <p-chart type="pie" [data]="data" [options]="options" class="w-full md:w-[30rem]" />
  </div>
  <div class="widget widget-progress">Kế hoạch/Thời gian</div>
  <div class="widget widget-frequency">Tần số & Biểu đồ Tròn 3</div>


  <!-- row 4 -->
  <div class="widget widget-serial-list">Danh sách scan serial</div>
  <div class="widget widget-temp-chart">Biểu đồ Nhiệt độ hàn</div>
  <div class="widget widget-last-chart">Biểu đồ Cuối</div>
</div>