<div class="dashboard-container">
  <div class="widget widget-config p-3">
    <app-station-indicators-component [data]="data"></app-station-indicators-component>
  </div>
  <div class="widget widget-po">
    <app-control-panel-component [data]="model.planningWO"></app-control-panel-component>
  </div>
  <div class="widget widget-status">
    <app-status-device-component [data]="model.planningWO"></app-status-device-component>
  </div>


  <div class="widget widget-chart-1 d-flex justify-content-center align-items-center">
    <base-chart-component [data]="chartDataErorrGroup" [options]="chartOptionErorrGroup" [title]="'Biểu đồ lỗi theo nhóm lỗi'"></base-chart-component>
  </div>
  <div class=" widget-config">
    <div class="widget d-flex justify-content-center align-items-center">
      <gauge-production-output-component [data]="model"></gauge-production-output-component>
    </div>
    <div class="widget d-flex justify-content-center align-items-center">
      <gauge-point-ppm-component [data]="model"></gauge-point-ppm-component>
    </div>
  </div>
  <div class="widget widget-ppm">
    <app-list-device-planing-component [data]="listDevices"></app-list-device-planing-component>
  </div>

  <div class="widget widget-chart-2 d-flex justify-content-center align-items-center">
    <base-chart-component [data]="chartDataErorrByMechine" [options]="chartOptionErorrByMechine" [title]="'Lỗi chi tiết'"></base-chart-component>
  </div>
  <div class="widget widget-progress">
    <app-conventional-table-component [data]="scanSerialChecks"></app-conventional-table-component>
  </div>
  <div class="widget widget-frequency d-flex justify-content-center align-items-center">
    <base-chart-component [data]="chartDataErorrByStage" [options]="chartOptionErorrByStage" [title]="'Lỗi theo công đoạn'"></base-chart-component>
  </div>
</div>
<div class="d-flex justify-content-end mt-3">
  <p-button label="Quay lại" severity="info" (click)="onBack()" icon="pi pi-arrow-left" class="me-2"></p-button>
</div>