.dashboard-container {
  display: grid;
  grid-template-columns: 0.7fr 1.6fr 0.7fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 10px;
}

.widget {
  background-color: black;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 4px;
  max-height: 400px;
  overflow-y: auto;
}

.widget-status {
  max-height: 230px;
  overflow-y: scroll;
}

.widget-config {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.hidden-overflow {
  overflow: hidden;
}

// .widget-progress {
//   max-height: 543px;
//   overflow-y: scroll;
// }

// .widget-ppm {
//   max-height: 543px;
//   overflow-y: scroll;
// }