<div class="widget-content relative" appFullscreen #fs="appFullscreen">
  <i class="fa-solid fa-expand fullscreen-btn" (click)="fs.toggleFullscreen()"></i>
  <div class="d-flex justify-content-center">
    <img src="/assets/imgs/logo-rang-dong.png" alt="" width="100px">
  </div>
  <div class="status-box d-flex flex-column">
    <span class="my-1">OEE: 100</span>
    <span class="my-1">OEE: 100</span>
    <span class="my-1">OEE: 100</span>
    <span class="my-1">OEE: 100</span>
    <span class="my-1">OEE: 100</span>
    <span class="my-1">OEE: 100</span>
    <span class="my-1">OEE: 100</span>
    <span class="my-1">OEE: 100</span>
    <span class="my-1">OEE: 100</span>
  </div>
</div>
