<div class="bg-sosen">
    <div class="base-table-header my-3 d-flex px-2">
        <h2>Lịch sử kiểm tra serial</h2>
    </div>
    <div class="mt-5">
        <p-table [loading]="loading" class="dark-table mb-5" [value]="data">
            <ng-template pTemplate="header">
                <tr>
                    <th>Ngày kiểm tra</th>
                    <th>Tổng số serial đã scan</th>
                    <th>Người kiểm tra</th>
                    <th>Tùy chọn</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{ item.date }}</td>
                    <td>{{ item.totalSerial }}</td>
                    <td>{{ item.userName }}</td>
                    <td>
                        <p-button icon="pi pi-eye" styleClass="p-button-sm p-button-rounded p-button-info m-1"
                            (onClick)="view(item)"></p-button>
                        <p-button icon="pi pi-file-excel" styleClass="p-button-sm p-button-rounded p-button-success m-1"
                            (onClick)="exportExcel(item)"></p-button>
                        <p-button icon="pi pi-trash" styleClass="p-button-sm p-button-rounded p-button-danger m-1"
                            (onClick)="delete(item, $event)"></p-button>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4" class="text-center text-white py-3">Không tìm thấy dữ liệu</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>